{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "indent": 2,
    "import/first": 0,
    "import/order": 0,
    "react/require-default-props": 1,
    "no-plusplus": 0,
    "no-confusing-arrow": 0,
    "react/jsx-quotes": 0,
    "react/sort-comp": 0,
    "react/no-multi-comp": 1,
    "spaced-comment": 0,
    "react/jsx-indent-props": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "consistent-return": 0,
    "react/prefer-stateless-function": 1,
    "semi": 0,
    "no-param-reassign": 0,
    "no-undef": 0,
    "arrow-parens": 0,
    "no-multi-spaces": 0,
    "max-len": ["error", 120],
    "no-else-return": 1,
    "new-cap": 1,
    "no-underscore-dangle": 0,
    "arrow-body-style": 1,
    "import/imports-first": 0,
    "no-unused-vars": ["error", { "varsIgnorePattern": "[sS]tyles" }],
    "no-unused-expressions": 0,
    "class-methods-use-this": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/extensions": 0,
    "import/no-unresolved": 0,
    "import/no-cycle": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-props-no-spreading": 0,
    "react/static-property-placement": 0,
    "no-return-assign": 0,
    "no-restricted-syntax": 0,
    "react/no-array-index-key": 0,
    "jsx-a11y/role-has-required-aria-props": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "global-require": 0,
    "import/no-dynamic-require": 0,
    "prefer-promise-reject-errors": 0,
    "function-paren-newline": ["error", "consistent"],
    "jsx-a11y/anchor-is-valid": 0,
    "object-curly-newline": 0,
    "react/destructuring-assignment": 0,
    "implicit-arrow-linebreak": 0
  },
  "globals": {
    "document": true,
    "window": true,
    "fetch": true,
    "VK": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  }
}
