version: '3.7'
services:
  myrp:
    build: .
    ports:
      - '3000:80'
    volumes:
      - './:/usr/src/app'
    environment:
      REDIS_URL: redis://redis:6379/
    depends_on:
      - mongo

  mongo:
    container_name: mongo
    image: mongo
    ports:
      - '27017:27017'
