version: "3.7"
services:
  make_yrp:
    build: .
    command: ash -c "echo 'runing....' && rm -f tmp/pids/server.pid && /app/entrypoint.sh app"
    ports:
      - '3000:3000'
    environment:
      HOST: 'http://localhost:3000'
      REDIS_URL: redis://redis:6379/1
      RAILS_ENV: production
      RAILS_LOG_TO_STDOUT: 'true'
      RAILS_SERVE_STATIC_FILES: 'true'
      EDITOR: 'mate --wait'
    volumes:
      - .:/app
    depends_on:
      - db
      - redis
  db:
    container_name: postgres
    image: postgres:12.1-alpine
    environment:
      PGPASSWORD_SUPERUSER: postgres
      PGPASSWORD_ADMIN: postgres
      PGPASSWORD_STANDBY: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
  redis:
    image: redis:5.0.7-alpine
    ports:
      - "6379:6379"
