@font-face {
  font-family: 'Xolonium';
  src: url('fonts/Xolonium.ttf') format('truetype');
  src: url('fonts/XoloniumBold.ttf') format('truetype');
}

* {
  font-family: 'Xolonium', serif;
  font-size: 14px;
}
