@font-face {
  font-family: 'Xolonium';
  src: url('fonts/Xolonium.ttf') format('truetype');
}

@font-face {
  font-family: "Xolonium";
  src: url('fonts/XoloniumBold.ttf') format('truetype');
  font-weight: bold;
}

* {
  font-family: 'Xolonium', serif;
  font-size: 14px;
  :focus {
    outline: none;
  }
}

html {
  overflow-y: auto !important;
}
