<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title>GM Forge</title>
    <meta name="description" content="">

    <link rel="icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/css/style.css">
    <script>window.__initialData__ = <%-initialData%></script>
    <style id="jss-server-side"><%-css%></style>
</head>
<body>
    <div id="root"><%-html%></div>
    <script src="/vendor~bundle.js"></script>
    <script src="/material_ui~bundle.js"></script>
    <script src="/bundle.js"></script>
    <%-bundles.map(bundle => {
        return `<script src="/${bundle.file}"></script>`
      }).join('\n')%>
    <script>window.main();</script>
</body>
</html>
